<div class="container">
  <h1>Welcome!</h1>

  <form id="create" action="/create" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="LOGIN">
  </form>

  <p><a href="/new">Login</a></p>


</div>
